//
//  Application.xcconfig
//  Unfurl
//
//  Created by Maria Shergina on 19/10/26.
//  Copyright © 2026 Maria Shergina. All rights reserved.
//


SDKROOT = macosx

// Concurrency: keep the whole target warning-clean under strict checking.
SWIFT_STRICT_CONCURRENCY = complete

// Default staff
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
