//
//  Release.xcconfig
//  Unfurl
//
//  Created by Maria Shergina on 19/10/26.
//  Copyright © 2026 Maria Shergina. All rights reserved.
//


// Code Signing comes from Shared.xcconfig. Developer ID is selected in
// Organizer at export time, not pinned here.

// Other
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
