//
//  Shared.xcconfig
//  Narcissism
//
//  Created by Maria Shergina on 19/10/26.
//  Copyright © 2026 Maria Shergina. All rights reserved.
//


// Project level
// CODE_SIGN_IDENTITY = 3rd Party Mac Developer Application: Maria Shergina (HC3925CA22)
// CODE_SIGN_IDENTITY = Developer ID Application: Maria Shergina (HC3925CA22)
// CODE_SIGN_IDENTITY = Mac Developer: Maria Shergina (4Q483YEN5L)

// Target level
COMBINE_HIDPI_IMAGES = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon